@keyframes bg-darker {
    from{background-color: white; color: black; padding: 0px;}
    to{background-color: black; color: white; padding: 20px;}
}

@keyframes in-right {
    from{transform: translateX(100px);}
    from{transform: translateX(20px);}
}

body{
    font-size: 18px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header, footer{
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    border-style: solid;
    border-color: brown;
    border-radius: 50px;
    border-width: 30px;
}

sup{
    margin: 0px;
    padding: 0px;
}

/*----------------------------------------*/

.clm{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.row{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
}

.center{
    align-items: center;
}

.hidden{overflow: hidden;}

.wide{
    margin: 0px 10px 0px 10px;
}

cite{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.image{
    margin: 10px;
    padding: 0px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.image:hover{
    animation: bg-darker 1s forwards;
    cursor: pointer;
}

.photo{
    width: 100px;
    height: auto;
}

.hb{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

ul{ 
    font-size: large;
    font-weight: bold;
    border-style: dotted;
    border-radius: 30px;
    border-width: 1px;
    width: 50vw;
    list-style: square;
}

#my-image{
    width: 10vw;
    box-shadow: 0px 2px 1px;
    margin: 20px;
}

ul li:nth-child(odd){
    background-color: #ff9494;
    width: 20vw;
}

ul:hover{
    list-style: disc;
    list-style-image: url("image/logo-l.svg");
    font-size: 30px;
    cursor: pointer;
}

a{
    list-style: none;
    text-decoration: none;
}

#r-dot{
    animation: in-right 1s forwards;
    animation-iteration-count: 3;
    width: 50px;
    margin: 20px;
}